<h1>
    Modify Flight
</h1>

<form [formGroup]="modifyFlight">

    <div class="form-group">
        <label for="providerName">Provider Name</label>
        <input type="email" class="form-control" maxlength="10" formControlName="providerName" id="providerName"
            aria-describedby="providerNameHelp" placeholder="Enter Provider Name" autofocus>
    </div>
    <div class="form-group">
        <label for="providerCode">Provider Code</label>
        <input type="text" class="form-control" formControlName="providerCode" id="providerCode"
            placeholder="Enter Provider Code" readonly>
    </div>
    <div class="form-group">
        <label for="ProviderType">Provider Type</label>
        <input type="text" list="ProviderTypes" class="form-control" formControlName="providerType" id="ProviderType"
            placeholder="Enter Provider Type">
        <datalist id="ProviderTypes">
            <option value="Domestic"></option>
            <option value="International"></option>
        </datalist>
    </div>

    <button type="button" class="btn" class="submit-btn">Insert Flight</button>

</form>